canvas {
  display: block;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: max(100dvh, 500px);
}

.content {
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
}